@**
* Displays an item
* @param item Item to display
*@
@(item: models.Item, form: Form[Item])(implicit messages: Messages)
@content(item: models.Item) = {
    @helper.form(routes.Items.updateFromForm) {
        @helper.inputText(form("id"), 'readonly -> "readonly")
        @helper.inputText(form("name"))
        @helper.inputText(form("price"))
        @helper.inputText(form("description"))
        <input type="submit" value="Update" name="action">
        <input type="submit" value="Delete" name="action">
    }

    <p><a href="../items">Back</a></p>
}

@layout("Item details", "shop")(content(item))